<span {{ attributes }}>
    <button
        data-action="live#action"
        data-live-action-param="toggle"
        title="{{ skill.featured ? 'Remove from featured' : 'Mark as featured' }}"
    >
        {{ skill.featured ? '&#9733;' : '&#9734;' }}
    </button>
</span>
